* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */
.noto_serif_normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter_normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.display_flex {
    display: flex;
}

.section_description{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}
.section_title{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
}
.section_title_style {
    color: #E95A08;
}
.text_center{
    text-align: center;
}
.card_btn{
    font-weight: 600;
    background-color: #E95A08;
    padding: 20px 0;
    width: 100%;
    color: #ffffff;
    border: none;
}



/* navbar styles */
.header {
    margin-top: 30px;
    margin-bottom: 120px;
}

.menubar {
    justify-content: space-between;
    align-items: center;
}

.navbar {
    gap: 48px;
}

.nav_item {
    gap: 48px;
}

.nav_item li {
    list-style: none;
   
}

.nav_item li a {
    text-decoration: none;
    color: #8987A1;
    font-size: 1.25rem;
    font-weight: 500;
}
#home{
    color: #000000;
}
.cart span{
    font-size: 1.25rem;
}

/* banner related styles */
.banner{
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}
.banner_title{
    font-size: 4rem;
    font-weight: 700;
}

/* our plants related styles */
.plants_section_desc{
    max-width: 888px;
    margin: 15px auto 50px auto;
}

.plant_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 230px;
}
.card_img{
    width: 100%;
}

.card_title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}
.price{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

/* flowers and plants lover styles */
.lovers{
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.lover_items{
    position: relative;
}
.lover_image{
    display: block;
}
.trusted_badge{
    position: absolute;
    width: 280px;
    top: -125px;
    right: -100px;
}
.lover_title{
    font-size: 3rem;
    font-weight: 700;
}
.lover_content ul li{
    margin-top: 25px;
}





@media screen and (max-width: 576px) {
    
    .lovers{
        flex-direction: column;
    }
    .nav_item,
    .trusted_badge{
        display: none;
    }

   .menubar,
   .navbar,
   .nav_item{
    gap: 30px;
   }

   .banner{
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 50px;
   }
   .banner_img,
   .lover_image{
    width: 100%;
   }
   .plant_items{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 25px;
    margin-bottom: 60px;
   }
   .plants_section_desc{
    width: 100%;
   }
   .lover_content,
   .menubar{
    width: 90%;
    margin: 0 auto;
   }
}